<div class = "container">
  <div class = "row">
    <div class = "mx-auto align-items-center" style="display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;" >
      <h3><strong>新規投稿</strong></h3>
      <%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
        <h6>イメージ画像</h6>
        <%= f.file_field :post_image, accept: "image/*" %>
        <h6>PR文(100文字以内)</h6>
        <%= f.text_area :text, rows: '5', placeholder: "PR文を入力", style: "width: 100%;" %>
        <%= f.submit "投稿する", class: "btn btn-sm btn-dark float-right" %>
      <% end %>
    </div>
  </div>
</div>