<% if @requests.present? && @requests.any? { |request| request.mark_status == "unverified" && request.user.is_active } %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="mt-3">
        <h3><strong>申請者中のご利用者様一覧</strong></h3>
        <!--ユーザーのis_activeがtrueのかつunverified（未認証）のユーザーのみ表示する-->
        <table class="table mt-3">
          <thead>
            <tr>
              <th>ユーザーID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
            </tr>
          </thead>
          <tbody>
            <% @requests.each do |request| %>
              <% if request.mark_status == "unverified" && request.user.is_active %>
                <tr>
                  <td><%= request.user.id %></td>
                  <td><%= link_to request.user.name, edit_admin_user_request_path(request.user, request), class: "text-dark" %></td>
                  <td><%= request.user.email.split("@").first %>@...</td>
                  <!--@までを表示し、それ以降は…で省略する-->
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class = "mx-auto align-items-center" style = "display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;">
    <h3><strong>申請中のご利用者様はいらっしゃいません。</strong></h3>
  </div>
<% end %>

<div class = "pagination justify-content-center">
  <%= paginate @requests %>
</div>
