<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-md-10">
      <h3>利用者一覧</h3>
      <table class = "table">
        <thead>
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ご利用状況</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name,edit_admin_user_path(user) %></td>
              <td><%= user.email.split("@").first %>@...</td>
              <!--@までを表示し、それ以降は…で省略する-->
              <td><%= user.user_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
