<div style = "display: flex; justify-content: center; align-items: center; height: 60vh;">
  <div style = "text-align: center;">
    <h3 class = "mb-5"><strong>本当に退会しますか？</strong></h3>
    <h4>
        退会すると、投稿やユーザー情報などが閲覧できなくなります。<br>
        よろしければ、下記 <span class="button-like-text">退会する</span> ボタンをクリックしてください。
    </h4>
    <%= link_to "退会しない",  edit_public_user_path(current_user.id), :class => "btn btn-lg btn-primary mr-3 mt-5" %>
    <%= link_to "退会する",  public_user_withdrawal_path, method: :patch, :class => "btn btn-lg btn-danger ml-3 mt-5" %>
  </div>
</div>