<% if @user.present? %>
<!-- user_idがnilでなければ下記を表示する -->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user.id == current_user.id %>
  <!-- user_idがログイン中のidだった場合は下記を表示する -->
    <p><%= link_to "プロフィール編集", edit_public_user_path(@user) %></p>
  <% end %>
<% end %>
