<footer class="pt-2 pb-2 fixed-bottom">
  <div class="container">
    <div class="row">
      <% if admin_signed_in? %>
        <p></p>
      <% elsif user_signed_in? %>
        <p class="mx-auto" >&copy; 2024 商品PRサイト. All rights reserved.</p>
      <% else %>
        <p class="mx-auto" >&copy; 2024 商品PRサイト. All rights reserved.</p>
      <% end %>
    </div>
  </div>
</footer>